﻿@model UserTask

@{
    Layout = "_Layout";
}

<h2>Добавление новой задачи</h2>

<form method="post">
    <table>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input id="Title" name="Title" type="text">
            </td>
            <td>
                <input id="Description" name="Description" type="text">
            </td>
        </tr>
    </table>
    <input type="submit" value="Добавить">
</form>
